.contact-ul {
  padding-left: 15px;
  padding-right: 15px;
}

.input-text {
  height: 48px;
  border-radius: 8px;
  border: 0;
  margin-bottom: 20px;
  padding-left: 15px;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.contact-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  padding: 10px;
}

#contact-me {
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: calc(70%);
  background-position: right;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top-left-radius: 80px;
}

.contact-text-area {
  border-radius: 8px;
  height: 170px;
  padding: 15px;
}

::placeholder {
  color: #c0cce0;
  padding-left: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.contact-text-area::placeholder {
  color: #b3bac5;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.contact-button {
  background-color: #fff;
  color: #5264ff;
  border: 1px solid #5264ff;
  border-radius: 8px;
  height: 48px;
  width: 140px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.contact-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.contact-button:active {
  background-color: #2230d2;
  color: #fff;
}

@media (min-width: 768px) {
  #contact-me {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 120px;
  }

  .contact-container {
    width: 40%;
  }

  .input-text {
    border-radius: 0;
  }

  .contact-text-area {
    border-radius: 0;
  }

  .contact-paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }

  .contact-header {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .contact-button-li {
    display: grid;
    justify-content: center;
  }
}
