.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.btn {
  padding: 12px 12px 12px 12px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid #396df2;
  border-radius: 8px 8px 8px 8px;
  color: #396df2;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
  transform: scale(1.05);
  transform-origin: 1%;
  transition-duration: 0.2s;
}

.btn:active {
  background-color: #2230d2;
  color: white;
}
